.eslintrc.js
test/
lib/
src/*/__test__
packages/*/config/
*/*/background/
*/*/dist/
*/*/src/*/__test__/
src/__test__
md.ts
commitlint*
jest.config.js
coverage/
docs.js
*.config.js
*.config.cjs
webpack*
node_modules
test/